{% extends "shop/layout.html" %}
{% block content %}
    <form action="" method="GET">
        <input type="text" name="q" value="{{q}}"/>
        <input type="submit" value="search" />
    </form>

    <hr/>

    <ul>
    {% for item in item_list %}
        <div>
            <li>
                <a href="{{item.get_absolute_url}}">
                {{item.name}}
                </a>
                {{item.price}}
                {% if item.desc %}
                {{item.desc}}
                {% endif %}
            </li>
        </div>
    {% endfor %}
    </ul>

    <hr/>
    <a href="{% url "shop:item_new" %}">New Item<a/>
{% endblock %}}